.sum{background-color:#EEE;border:1px solid#888;}.sumwhite{background-color:#FFF;border:1px solid#888;}
a.pic:link{width:100%;background-color:#FFFFFF;}.btab{padding:2px;display:inline,table-cell;border-left:1px solid#0066CC;border-right:1px solid#0066CC;border-bottom:1px solid#0066CC;background-color:#EEEEEE;font-size:10px;}
td{white-space:nowrap;}
table.outer{margin:2px;padding:2px;}
table.inner{margin:0px;padding:2px;width:100%;}.smallleft{text-align:left;border-left:1px solid#AAAAAA;}
td.smallleftoverlib{text-align:left;border-left:1px solid#0066CC;border-right:1px solid#0066CC;border-bottom:1px solid#0066CC;background-color:#EEEEEE;}
td.smallheader{text-align:center;background-color:#AAAAAA;color:#666666;}
td.smallheaderoverlib{text-align:center;background-color:#0066CC;color:#666666;}
td.small{text-align:center;border-right:1px solid#AAAAAA;border-bottom:1px solid#AAAAAA;}
td.smalloverlib{text-align:center;border-right:1px solid#0066CC;border-bottom:1px solid#0066CC;background-color:#EEEEEE;}
a.smallheader:link
{color:#666666;text-decoration:underline;font-weight:bold;}
a.smallheader:visited
{color:#666666;text-decoration:underline;font-weight:bold;}
a.smallheader:hover
{color:#0066CC;text-decoration:none;font-weight:bold;}
a.pic:visited{width:100%;background-color:#FFFFFF;}
a.pic:hover{width:100%;background-color:#FFFFFF;}
table.whiteborder{border:solid 1px#FFFFFF;background-color:#AAAAAA;}
table{margin:0px;padding:0px;}.error{color:#FF0000;}.frotz{background-color:#0066CC;border:1px solid#000000;font-size:12px;font-family:Courier;}.fixed{color:#EFEFEF;font-size:12px;font-family:Courier;}
input.frotztext
{border-width:0px;background-color:#0066CC;color:#EFEFEF;font-size:12px;font-family:Courier;}.s{position:absolute;z-index:100;}.titlewhite
{border:1px solid#888888;background-color:#FFFFFF;}.titlegrey
{border:1px solid#888888;background-color:#CDCDCD;}.titleblue
{border:0px;background-color:#0066CC;}
blockquote.message{background-color:#EEEEEE;border:1px solid#AAAAAA;font-style:italic;}
hr.blue
{border:0px;height:1px;color:#0066CC;background-color:#0066CC;}
hr.white
{border:0px;height:1px;color:#FFFFFF;background-color:#FFFFFF;}
hr.grey
{border:0px;height:1px;color:#CDCDCD;background-color:#CDCDCD;}
hr.blue5
{display:inline;margin:0;padding:0;border:0px;height:5px;color:#0066CC;background-color:#0066CC;}
hr.overlib
{color:#BBBBBB;}.blue
{color:#0066CC;}.h2
{color:#000330;font-family:Arial,Verdana,Helvetica,Geneva,sans-serif;font-size:20px;font-weight:bold;}.h3
{color:#000330;font-family:Arial,Verdana,Helvetica,Geneva,sans-serif;font-size:16px;font-weight:bold;}
a:link
{color:#009966;text-decoration:none;font-weight:bold;}
a:visited
{color:#009966;text-decoration:none;font-weight:bold;}
a:hover
{color:#0066CC;text-decoration:underline;font-weight:bold;}
a.norm:link
{color:#666666;text-decoration:none;font-weight:normal;}
a.norm:visited
{color:#666666;text-decoration:none;font-weight:normal;}
a.norm:hover
{color:#0066CC;text-decoration:underline;font-weight:normal;}
a.log:link
{color:#333333;text-decoration:none;font-weight:normal;}
a.log:visited
{color:#333333;text-decoration:none;font-weight:normal;}
a.log:hover
{color:#333333;text-decoration:underline;font-weight:normal;}
a.bordertitle:link
{color:#DEDEDE;text-decoration:underline;font-weight:bold;}
a.bordertitle:visited
{color:#DEDEDE;text-decoration:underline;font-weight:bold;}
a.bordertitle:hover
{color:#FFFFE0;text-decoration:underline;font-weight:bold;}
a.borderblack:link
{color:#DEDEDE;text-decoration:underline;font-weight:bold;}
a.borderblack:visited
{color:#DEDEDE;text-decoration:underline;font-weight:bold;}
a.borderblack:hover
{color:#FFFFE0;text-decoration:underline;font-weight:bold;}
a.overlib:link
{color:#FFFFE0;text-decoration:underline;font-weight:bold;}
a.overlib:visited
{color:#FFFFE0;text-decoration:underline;font-weight:bold;}
a.overlib:hover
{color:#BBBBBB;text-decoration:underline;font-weight:bold;}
a.overlib2:link
{color:#FFFFE0;text-decoration:underline;font-weight:bold;}
a.overlib2:visited
{color:#FFFFE0;text-decoration:underline;font-weight:bold;}
a.overlib2:hover
{color:#444444;text-decoration:underline;font-weight:bold;}
body.popup{background-color:#0066CC;color:#000330;font-family:Arial,Verdana,Helvetica,Geneva,sans-serif;font-size:12px;}
body
{background-color:#FFFFE0;color:#000330;font-family:Arial,Verdana,Helvetica,Geneva,sans-serif;font-size:12px;}
pre
{color:#000330;font-size:12px;}
pre.conq
{color:#000330;font-size:12px;font-weight:normal;}
img.overlib{border-color:#FFFFFF;}
img.power{border-color:#FF0000;border-width:2px;}
img.design{border-color:#000000;}
img
{border-color:#000000;}
img:hover
{}.normal_text
{color:#000330;font-family:Arial,Verdana,Helvetica,Geneva,sans-serif;font-size:12px;}.h3
{color:#000330;font-family:Arial,Verdana,Helvetica,Geneva,sans-serif;font-size:16px;font-weight:bold;}.normal_text_plain
{color:#000330;font-family:Arial,Verdana,Helvetica,Geneva,sans-serif;font-size:12px;}.small_text
{color:#000330;font-family:Arial,Verdana,Helvetica,Geneva,sans-serif;font-size:10px;font-style:normal;}.small_text_11
{color:#000330;font-family:Arial,Verdana,Helvetica,Geneva,sans-serif;font-size:11px;font-weight:normal;}.small_text_11_blue
{color:#0066CC;font-family:Arial,Verdana,Helvetica,Geneva,sans-serif;font-size:11px;font-weight:normal;}.blue_text_plain
{color:#0066CC;}.yellow_text_plain
{color:#FFFFE0;}.yellow_text_small
{color:#FFFFE0;font-size:10px;}.yellow_text_small_11
{color:#FFFFE0;font-size:11px;}
input.image{background-color:#FFFFE0;border:0px;}
input.checkbox
{border-color:#FFFFE0;background-color:#FFFFE0;color:#FFFFE0;font-size:11px;font-family:Arial,Verdana,Helvetica,Geneva,sans-serif;}
input.upload
{border-style:solid;border-width:1px;border-color:#000000;background-color:#0066CC;color:#FFFFE0;font-size:11px;font-family:Arial,Verdana,Helvetica,Geneva,sans-serif;}
textarea
{border-style:solid;border-width:1px;border-color:#000000;background-color:#0066CC;color:#FFFFE0;font-size:11px;font-family:Arial,Verdana,Helvetica,Geneva,sans-serif;}
textarea.conq
{border-style:solid;border-width:1px;border-color:#000000;background-color:#0066CC;color:#FFFFE0;font-size:8px;font-family:Courier;}
input
{border-style:solid;border-width:1px;border-color:#000000;background-color:#C1C1C1;color:#000330;font-size:11px;font-family:Arial,Verdana,Helvetica,Geneva,sans-serif;}
input.text
{border-style:solid;border-width:1px;border-color:#000000;background-color:#0066CC;color:#FFFFE0;font-size:11px;font-family:Arial,Verdana,Helvetica,Geneva,sans-serif;}
input.text_green
{border-style:solid;border-width:1px;border-color:#000000;background-color:#FF9933;color:#333333;font-size:11px;font-family:Arial,Verdana,Helvetica,Geneva,sans-serif;}
select
{border-style:solid;border-width:1px;border-color:#000000;background-color:#0066CC;color:#FFFFE0;font-size:11px;font-family:Arial,Verdana,Helvetica,Geneva,sans-serif;}
select.green
{border-style:solid;border-width:1px;border-color:#000000;background-color:#FF9933;color:#333333;font-size:11px;font-family:Arial,Verdana,Helvetica,Geneva,sans-serif;}
td
{color:#000330;font-family:Arial,Verdana,Helvetica,Geneva,sans-serif;font-size:12px;}
td.menu
{border-style:solid;border-width:1px;border-color:#000000;background-color:#DDDDDD;color:#000330;font-family:Arial,Verdana,Helvetica,Geneva,sans-serif;font-size:12px;}
th{font-family:arial,helvetica,geneva,sans-serif;font-size:x-small;font-weight:bold;color:#000000;background-color:#CDCDCD}
td.thin
{border:1px solid#0066CC;color:#000330;font-family:Arial,Verdana,Helvetica,Geneva,sans-serif;font-size:12px;}
td.border
{border:1px solid#888888;color:#000330;font-family:Arial,Verdana,Helvetica,Geneva,sans-serif;font-size:12px;}
td.bordergrey
{border:1px solid#888888;background-color:#CDCDCD;color:#000330;font-family:Arial,Verdana,Helvetica,Geneva,sans-serif;font-size:12px;}
td.borderlightgrey
{border:1px solid#888888;background-color:#EFEFEF;color:#000330;font-family:Arial,Verdana,Helvetica,Geneva,sans-serif;font-size:12px;}
td.borderwhite
{border:1px solid#888888;background-color:#FFFFFF;color:#000330;font-family:Arial,Verdana,Helvetica,Geneva,sans-serif;font-size:12px;}
td.borderred
{border:1px solid#888888;background-color:#FF0000;color:#000330;font-family:Arial,Verdana,Helvetica,Geneva,sans-serif;font-size:12px;}
td.borderwhite_mc
{border:1px solid#888888;background-color:#D7EBFF;color:#000330;font-family:Arial,Verdana,Helvetica,Geneva,sans-serif;font-size:12px;}
td.bordergrey_mc
{border:1px solid#888888;background-color:#D0D9F7;color:#000330;font-family:Arial,Verdana,Helvetica,Geneva,sans-serif;font-size:12px;}
td.titlesmall
{color:#FFFFFF;font-family:Arial,Verdana,Helvetica,Geneva,sans-serif;font-size:9px;}
td.smallwhite
{background-color:#FFFFFF;color:#666666;font-family:Arial,Verdana,Helvetica,Geneva,sans-serif;font-size:9px;}
td.bordertitle
{background-color:#0066CC;border:1px solid#000000;color:#FFFFE0;font-family:Arial,Verdana,Helvetica,Geneva,sans-serif;font-size:12px;}
td.borderblack
{background-color:#666666;border:1px solid#AAAAAA;color:#FFFFE0;font-family:Arial,Verdana,Helvetica,Geneva,sans-serif;font-size:12px;}
td.thick
{border:2px solid#0066CC;color:#000330;font-family:Arial,Verdana,Helvetica,Geneva,sans-serif;font-size:12px;}
td.outline
{border:1px solid#0066CC;color:#000330;font-family:Arial,Verdana,Helvetica,Geneva,sans-serif;font-size:12px;}
a.power:link{border:0px;text-decoration:none;}
a.power:visited{border:0px;text-decoration:none;}
a.power:hover{border:0px;text-decoration:none;}
a.power:active{border:0px;text-decoration:none;}
span.bordertitle
{background-color:#0066CC;border:1px solid#000000;color:#FFFFE0;font-family:Arial,Verdana,Helvetica,Geneva,sans-serif;font-size:12px;padding:2px;}
td.unit_info{background-color:#AAAAAA;}
.highlightrow{background-color:#AA3333;color:white;}
.highlighttd{background-color:#33aa33;color:white;}
.jquery_highlight{background-color:#AA3333;color:white;}
